@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #151515;
}

#uploadCode {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 96%;
    text-align: left;
    border: 2px solid #fff;
    font-variant: small-caps;
    font-style: bold;
    font-family: cursive;
    font-size: 15px;
    color: #a6c0fe;
    background-color: #000;

}

#runRes {
    width: 50%;
    background-color: #151515;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 400px;
    width: 96%;
    color: white;


}

#con {
    display: inline;
}