.head {
    text-align: center;

    font-family: sans-serif;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    transition: 1s ease-in-out;
    background-color: #241B2F;

    position: relative;
}

input {
    font-weight: bold;
    font-family: cursive;
    transition: width 2s;
    font-size: 24px;
    text-align: center;
    border: 1px solid #262335;
    ;
    border-radius: 25px;
    background: #56FFC9;
    padding: 20px;
    width: 300px;
    height: 0.1px;
    position: sticky;
    top: 0;
}

input:hover {
    width: 96%;
    background-color: #262335;
    color: #56FFC9;
    border: 3px solid black;
    transition: 2s ease-in-out;
}

.error {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

div {

}

button {

    background-color: black;
    color: #56FFC9;
    border: 2px solid white;
    cursor: pointer;
    font-size: 21px;

}


#formcode {
    color: #56FFC9;
    background-color: black;
    border: none;
    border: 2px solid white;
}