.head {
    text-align: center;
    background-clip: text;
    font-family: 'Rubik Moonrocks', cursive;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: #262335;
}

input {
    font-family: cursive;
    transition: width 2s;
    font-size: 24px;
    text-align: center;
    border: 1px solid #262335;
    ;
    border-radius: 25px;
    background: #56FFC9;
    padding: 20px;
    width: 300px;
    height: 0.1px;


}

input:hover {
    width: 96%;
    background-color: #262335;
    color: #56FFC9;
    border: 3px solid black;
    transition: 2s ease-in-out;
}

.error {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 12px;

}